<div id="awards" class="py-12  text-white">
  <h2 class="text-3xl font-bold text-center mb-8 text-pink-500">Awards & Certifications</h2>

  <swiper-container
    class="awards-swiper"
    slides-per-view="1"
    navigation
    pagination="true"
    space-between="20"
    loop="true"
    breakpoints='{"640":{"slidesPerView":1},"768":{"slidesPerView":2},"1024":{"slidesPerView":3}}'>
    
    <ng-container *ngFor="let award of awards">
      <swiper-slide>
        <div class="award-card p-5 rounded-lg  flex flex-col items-center gap-4">
          <img [src]="award.image" alt="{{award.title}}" class="w-24 h-24 object-contain rounded-full" />
          <div class="text-center">
            <p class="font-semibold text-lg">{{award.title}}</p>
            <p class="text-sm text-gray-400">{{award.issuer}}</p>
            <br>
            <p class="text-s text-green-400">{{award.issuedDate}}</p>
            <p *ngIf="award.skills" class="text-xs mt-1">{{award.skills}}</p>
          </div>
        </div>
      </swiper-slide>
    </ng-container>

  </swiper-container>
</div>
