.blink {
    animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 7rem !important;
}